.actual-part{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    color: beige;
    margin: 50px;
}
.container{
    width: 100%;
}
.title-my{
    text-align: center;
    color: brown;
}
.answer{
    color: black;
}